.item-top-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 700px;

  z-index: -1;
}
.item-back-button {
  position: absolute;
  top: 10px;
  left: 10px;

  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}
.item-image {
  width: 100%;
}
.item-title {
  position: absolute;
  top: 250px;
  left: 10px;
  color: white;
  font-size: 36px;
  filter: drop-shadow(2px 4px 6px black);
}
.item-subtitle {
  position: absolute;
  top: 300px;
  left: 10px;
  color: white;
  font-size: 16px;
  filter: drop-shadow(2px 4px 6px black);
}
.item-modifiers-scroll-container
{
  min-height: 800px;
  margin-top: 375px;

  z-index: 999;
  background-color: white;

  border-radius: 20px 20px 0 0;
}
.item-modifiers-form
{
  padding: 25px;
}
.item-modifier-title
{
  font-size: 24px;
  font-weight: bold;
}
.item-modifier-options-container
{
  margin-top: 15px;
  margin-bottom: 25px;
}
.item-modifier-size-option-input{
  /*
    Hiding radio button on item form to
    convert into a standard button.
  */

  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}
.item-modifier-size-option-label
{
  margin: 0px 5px;
}
.item-modifier-size-option-button
{
  border: 1px solid black;
  border-radius: 15px;

  padding: 5px 10px;
}
.size-selected
{
  background-color: blue;
}
.item-modifier-radio-option-label
{
  font-size: 20px;
  margin: 5px 0px;
}
.item-modifier-radio-option
{
  margin: 5px 0px;
}
.item-add-button
{
  height: 50px;
  width: 80%;

  background-color: white;

  border: 1px solid black;
  border-radius: 25px;

  position: fixed;
  bottom: 25px;
  left: 10%;
}
