.menuHeader {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuHeaderImg {
  width: 50px;
  margin: 0px 10px;
}
.menuCategoryContainer {
  padding: unset;
}
.menuCategoryTitle {
  list-style: none;
  font-size: 36px;
}
.menuCategoryItemsContainer {
  all: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.menuItemList {
  list-style: none;
  margin: 20px 10px;
}
.menuItemCard {
  width: 180px;
  height: 250px;

  display: flex;
  flex-direction: column;

  border-radius: 20px;
  background-color: #efefef;
}
.menuItemImage {
  width: 170px;
  height: 170px;

  margin-top: 5px;
  margin-left: 5px;

  border-radius: 20px;
}
.menuItemTitle {
  font-size: 18px;

  padding: 10px;
}
