.splashBackground
{
  width: 100%;
  height: 100vh;

  background-image: url("./imgs/splash-background.png");
  background-repeat: no-repeat;
  background-repeat-y: repeat;
  background-position: bottom;
  background-size: contain;
  filter: blur(4px);

  position: absolute;
  top: 0;

  z-index: -1;
}
.splashContainer
{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.splashTitle
{
  color: white;
}
